<div class="page-wrap products">
	<div class="header">
	</div>

	<div id="content-header">
	</div>

	<div id="products">
		{{#each products}}
			<div class="product-element">
				<div class="product-image">
					<img class="img-circle" data-toggle="magnify" src= {{ photo }} data-magnified-src= {{ magnified-photo }}>
				</div>
				<h4 class="title">{{ productTitle }}</h4>
				<h4 class="reference">{{ reference }}</h4>
				<span>
					<img src="/images/empty_box.png">
					{{ quantity }} ud.
				</span>
				<span>
					<img src="/images/bread.png">
					{{ weight }}
				</span>
			</div>
		{{/each}}
	</div>
</div>

<footer class="site-footer">
</footer>
